.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a {
    display: block;
    background: #bdbdbd;
    padding: .4045em 6.663em;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li>a.current {
    color: #404040;
    padding: .4045em 1.618em;
    font-weight: bold;
    position: relative;
    background: #fcfcfc;
    border: none;
    padding-left: 1.618em -4px;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>ul {
    display: none;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4.current>ul {
    display: block;
}