# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: mlbench-core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Lint Check
        # Run tox using the version of Python in `PATH`
        run: TOXENV=lint python -m tox
      - name: tests
        run: TOXENV=py37 python -m tox
      - name: docs
        run: TOXENV=docs python -m tox
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.15
